<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca</title>
    <style>
        .title{
        }

        table, th, td {
            border: 1px solid rgb(47, 35, 211);
        }

    </style>
</head>
<body>
    {% include "superior/barra.html" %}
    <div class="title">
        <h1>
            <strong>CINE LEMONSTORIES</strong>
        </h1>
    </div>

    <br>
    <br>

    <div class="info">
        <table style="width: 1000px;">
            <thead>
                <tr>
                    <th>DATOS CINE</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Ubicación ➤ <i>Plaza Lavapiés</i></td>
                </tr>
                <tr>
                    <td>Teléfono ➤ <i>916543023</i></td>
                </tr>
                <tr>
                    <td>E-Mail ➤ <i>lemonstories@madrid.org</i></td>
                </tr>
                <tr>
            </tbody>
        </table>


    </div>

</body>
</html>