<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contactar</title>
</head>
<body>
    {% include "superior/barra.html" %}

    <h1>ENTRADAS</h1>

    <form action = '/contacto/' method = 'POST'> {% csrf_token %}
        <p>Elija entre entrada <strong>general - 9€ </strong>// Adultos --- <strong>Reducida - 5€</strong> // Estudiantes, jubilados, menores de 14    <input type='text' name="asunto"></p>
        <p>Cantidad de entradas que desea comprar   <input type='text' name="email"></p>
        <input type='submit' value="Enviar">
    </form>

</body>
</html>