<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gracias</title>

    <style>
        .gracias{
            font-family: 'Bangers', cursive;
            font-family: 'Comfortaa', cursive;
            font-family: 'Rubik Moonrocks', cursive;
            font-family: 'Tapestry', cursive;
            font-family: 'Ubuntu', sans-serif;
        }
    </style>
</head>
<body>
    {% include "superior/barra.html" %}

    <div class="gracias">
        <center><h1>GRACIAS POR ENVIAR LA INFORMACIÓN</h1></center>
    </div>

</body>
</html>
